name: apse-project

services:
  mqtt_broker_embedded:
    build:
      context: ./mqtt
      dockerfile: Dockerfile
      args:
        - BROKER_USERNAME=${BROKER_USERNAME}
        - BROKER_PASSWORD=${BROKER_PASSWORD}
    container_name: mqtt_broker
    ports:
    - "1883:1883"
    - "9001:9001"
    volumes:
      - mqtt_data:/mqtt/data
      - mqtt_log:/mqtt/log
    env_file:
      - .env

volumes:
  mqtt_data:
  mqtt_log: